#about{
    display: none;
}

.color{
    color: #c70039;
    transition: all .4s ease;
    font-size: 25px;
}

.main-header{
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    font-family: raleway;
    transition: all .4s ease;
    color: whitesmoke;
    padding-bottom: 60px;
    padding-top: 10px;
    font-weight: 600;
}
.main-header .color{
    font-size: 37px;
}

.header-caption{
    opacity:.8;
    display: block;
    font-size: 25px;
    font-family: raleway;
    padding: 8px;
    color: whitesmoke;
    font-weight: 400;
}
.about-main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    color: whitesmoke;  
    margin-top: 10px;
    padding-bottom: 10px;
}
.about-first-paragraph{
    width: 55%;  
    max-width: 768px; 
    margin-left: 5%;
    padding-right: 20px;
}
.about-first-paragraph .color{
    font-size: 16px;
}
.about-second-line{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: justify;
}
