#about{
    display: none;
    border: 2px solid red;
}

.color{
    color: #c70039;
    transition: all .4s ease;
}

.main-header{
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    font-family: raleway;
    transition: all .4s ease;
    color: whitesmoke;
    padding-bottom: 60px;
    padding-top: 10px;
    font-weight: 600;
}

.header-caption{
    opacity:.8;
    display: block;
    font-size: 25px;
    font-family: raleway;
    padding: 8px;
    font-weight: 400;
}
.about-main{
    display: flex;
    text-align: center;
    color: whitesmoke;
    border: 2px solid red;
}
.about-first-paragraph{
    font-family: poppins;
    width: 45%;  
    max-width: 768px; 
    border: 2px solid red;
    margin-left: 5%;
}
.about-first-paragraph .color{
    font-size: 16px;
}
.about-second-line{
    font-size: 16px;
    font-weight: 100;
    opacity:.8;
}
