#about{
    display: none;
}

.color{
    color: #c70039;
    transition: all .4s ease;
}

.main-header{
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: raleway;
    transition: all .4s ease;
    color: whitesmoke;
    padding:10px;
    padding-bottom: 30px;
    padding-top: 60px;
    font-weight: 900;
}

.header-caption{
    opacity:.8;
    display: block;
    font-size: 20px;
    font-family: raleway;
    padding: 8px;
    font-weight: 400;
}
.about-main{
    display: flex;
    text-align: center;
    color: whitesmoke;
}
.about-first-paragraph{
    font-family: poppins;
    width: 80%;  
    max-width: 768px; 
    align-items: center;
    margin: auto;
}
.about-first-paragraph .color{
    font-size: 32px;
}
.about-first-line{
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
}
.about-second-line{
    font-size: 20px;
}
.cv a button{
    margin-top: 20px;
    padding: 20px 30px;
    outline-style: none;
    font-size:20px;
    font-family: aileron;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transition: all .4s ease;

}
.cv a button:hover{
    opacity: 1;
    transform: scale(1.05);
}
